{% extends 'core/base.html'%}
{% load static %}
{% block content %}
<div class="text-center text-warning">
    <h2 class="mt-5 mb-5 " style="font-family: Playfair Display">Projects</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card me-2 ms-2 mb-3 mt-2 ">
                <img src="{% static 'core/images/imagelibrary.png' %}" alt="" class="card-img-top" height="150px">
                <div class="card-footer text-center">
                    <small>Image Library</small>
                </div>



            </div>
            <div class="card me-2 ms-2 mb-3 mt-4 ">
                <img src="{% static 'core/images/friendzone.png' %}" alt="" class="card-img-top" height="150px">
                <div class="card-footer text-center">
                    <small>friendzone social media </small>
                </div>



            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="card me-2 ms-2 mb-3 mt-2">
                <img src="{% static 'core/images/hometution.png' %}" alt="" class="card-img-top" height="150px">
                <div class="card-footer text-center">
                    <small>Home Tuition</small>
                </div>

            </div>
            <div class="card me-2 ms-2 mb-3 mt-4">
                <img src="{% static 'core/images/hometution.png' %}" alt="" class="card-img-top" height="150px">
                <div class="card-footer text-center">
                    <small>Home Tuition</small>
                </div>

            </div>

        </div>
        <div class="col-sm-4">
            <div class="card me-2 ms-2 mb-3 mt-2 ">
                <img src="{% static 'core/images/imagelibrary.png' %}" alt="" class="card-img-top" height="150px">
                <div class="card-footer text-center">
                    <small>Image Library</small>
                </div>



            </div>
            <div class="card me-2 ms-2 mb-3 mt-4 ">
                <img src="{% static 'core/images/friendzone.png' %}" alt="" class="card-img-top" height="150px">
                <div class="card-footer text-center">
                    <small>friendzone social media </small>
                </div>



            </div>
        </div>
    </div>
</div>

{% endblock content %}